DS_CONVERSATIONS_BROADCAST_SETTINGS_URL=https://puppet:totallysecret@localhost:5100/api/v1/broadcasts
DS_CONVERSATIONS_BROADCAST_ID=7zU0Mb1k9GkWWI40o06Mic

DS_BLINK_SMS_INBOUND_RELAY_URL=http://puppet:totallysecret@localhost:5050/api/v1/webhooks/twilio-sms-inbound

MOBILE_NUMBER_GENERATOR_SERVER_PORT=3200

#This number should be a valid US number that passes Twilio validation. This example doesn't pass validations.
DEFAULT_MOBILE_TO_TEST=+15551111110

RANDOM_DELAY_MAX_SECONDS=60
